
#player,#player a{ 
	color:#333; 
}

#player{ 
	background:url(http://static.tumblr.com/5b8epgj/Lr5oauivt/sizerandvolfinal2.png); 
	background-position: bottom !important; 
	background-repeat: repeat-x !important; 
}

#player .mainImage{ 
background:url(http://static.tumblr.com/5b8epgj/Wxsoaug46/main.png); 
}

#player #baseLeft{ width:188px; }

#player #baseRight{ width:145px;}

#player .button{  width:22px; }

#player #pause{ left:32px; }

#player #play{ background:url(http://static.tumblr.com/5b8epgj/7gtoaug3f/playbtn.png);left:31px; }

#player #previous{ left:8px; }

#player #next{ left:55px; }

#player #title{ left:90px;}

#player #tooltip{ right:565555px; }

#player #timer{ right:555555px;  }

#player #list{ right:5px; }



#player #seeker{ right:8888888888888888888888px; }

#player #seekerBase{ border-color:#fff; }

#player #seekerBuffered{ background-color:#fff; }

#player #seekerSliderBase{ background-color:#fff; }



#player #volume{ width:70px; right:33px; }

#player #volumeSlider{ width:14px; background:url(http://static.tumblr.com/5b8epgj/Lr5oauivt/sizerandvolfinal2.png); }



#playlist,#playlist .module,#playlist h3{ border-color:#fff;}

#playlist .module{  color:#333; background-color:white; }

#playlist h3{ color:#000; background-color:#fff;  }

#playlist .focus{ color:#bdad91;}




